Origin header should not be sent by client in handshake

Tyrus client is sending an origin header in the upgrade request. The value of the header is the host part of the websocket URL with scheme "http://". This does not really make sense and would say it's in fact misleading. Non-browser clients do not operate in a context where origin matters IMHO.  According to the spec, the origin header is optional.
The main reason for me reporting this issue is a problem I ran into with the Qlik Sense websocket based API which fails to handle the handshake with the Tyrus client due to the origin header value. I had to manually change the header value to get the handshake working.

And why is that Tyrus issue and not Qlik Sense issue?

Because it makes no sense to send an origin in non-browser scenarios like this and it causes more harm than good. Setting a fake origin like this may cause problems as we see in the Qlik Sense case. The Qlik Sense server knows the origin header is fake because it hasn't received any http/https requests from the source system prior to the WS handshake and therefore rightfully refuses to complete the handshake.

According to RFC 6455, section 4.1 (Opening Handshake, Client Requirements):
"Additionally, if the client is a web browser, it supplies /origin/."

The use of origin header is described in other parts of the RFC as well. 

**Closing this as this issue is migrated to** https://github.com/eclipse-ee4j/tyrus/issues/615